<li class="comment">
  <div class="body">
    <%= comment.body %>
  </div>
  <div class="votes">
    <%= comment.votes.count %>
    <% if comment.votes.where(:user_id => 1).count == 0 %>
      <td><%= button_to 'vote',:controller => 'votes',:action => 'create',:comment_id => comment.id %></td>
    <% end %>
    <% if comment.votes.count != 0 %>
      <td><%= button_to 'un-vote', Vote.where(:votable_id => comment.id).where(:user_id => 1).first,:method => :delete %></td>
    <% end %>
  </div>
  <p><%= link_to 'add comment',new_comment_comment_path(comment) %></p>
  <% unless comment.comments.empty? %>
    <ul class="comment_list">
      <%= render :partial => 'comments/comment',:collection => comment.comments %>
    </ul>
  <% end %>
</li>
