<li class="comment">
  <div class="body">
    <%= comment.body %>
  </div>
  <div class="votes">
    <%= comment.votes.count %>
  </div>
  <div class="vote">
    <%= link_to 'vote',new_comment_vote_path(comment) %>
  </div>
  <p><%= link_to 'add comment',new_comment_comment_path(comment) %></p>
  <% unless comment.comments.empty? %>
    <ul class="comment_list">
      <%= render :partial => 'comments/comment',:collection => comment.comments %>
    </ul>
  <% end %>
</li>