<li class="comment">
  <% if comment.user != nil %>
      <div class="info">
        <p>commenter: <%= comment.user.name %></p>
      </div>
  <% end %>

  <hr/>
  <div class="body">
     <%= comment.body %>
  </div>
  <div class="vote">
    <%= render :partial => "votes/vote",:locals => {:votable => comment} %>
  </div>
  <div class="action">
    <% if session[:user_id] %>
        <% if comment.user_id == session[:user_id]  || session[:user_admin] == true%>
            <%= link_to 'Edit',edit_comment_path(comment) %> | <%= link_to 'Delete',comment,:method => :delete,data:{confirm: 'Are you sure?'} %> |
        <% end %>
        <%= link_to 'Add comment',new_comment_comment_path(comment) %>
    <% end %>
  </div>
  <hr/>

  <% unless comment.comments.empty? %>
      <ul class="comment_list">
        <%= render :partial => 'comments/comment',:collection => comment.comments %>
      </ul>
  <% end %>
</li>
