<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>User:</b>
  <% if @comment.user != nil %>
      <%= @comment.user.name %>
  <% end %>
</p>

<p>
  <b>Commentable:</b>
  <%= @comment.commentable_id %>
</p>

<p>
  <b>Commentable type:</b>
  <%= @comment.commentable_type %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
