<h4>Administrative Options</h4>
<table>
  <tr>
    <td><%= link_to 'Create New Post', new_post_path %></td>
  </tr>
  <tr>
    <td><%= link_to 'View Posts',posts_path %></td>
  </tr>
  <tr>
    <td><%= link_to 'Manage Categories', categories_path %></td>
  </tr>
  <tr>
    <td><%= link_to 'Manage Posts and Comments', posts_path %></td>
  </tr>
  <tr>
    <td><%= link_to 'Manage Users', users_path %></td>
  </tr>
</table>