<h1>Login</h1>
<%= form_tag('/users/login')  do %>
    <table>
      <tr>
        <td><%= label_tag('login[name]','name') %></td>
        <td><%= text_field_tag('login[name]') %></td>
      </tr>
      <tr>
        <td><%= label_tag('login[password]','password') %></td>
        <td><%= password_field_tag('login[password]') %></td>
      </tr>
      <tr>
        <td><%= submit_tag('login') %></td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    <%= link_to 'Register', new_user_path %>       <br/>
    <%= link_to 'View Posts', posts_path %>
<% end %>