<%= form_tag('posts',:method => :get) do %>
    <table>
      <tr>
        <td><%= label_tag('search[content]','Keyword: ') %></td>
        <td><%= search_field_tag('search[content]') %></td>
      </tr>
      <tr>
        <td><%= label_tag('search[user_id]','Creator: ') %></td>
        <td><%= select_tag('search[user_id]',options_from_collection_for_select(User.all,:id,:name),:include_blank =>true) %></td>
      </tr>
      <tr>
        <td><%= label_tag('search[category_id]','Category: ') %></td>
        <td><%= select_tag('search[category_id]',options_from_collection_for_select(Category.all,:id,:name),:include_blank => true) %></td>
      </tr>
    </table>
    <%= submit_tag('search') %>
<% end %>