<h1>Listing posts</h1>

<table>
  <tr>
    <td>title</td>
    <td>user</td>
    <td>edit</td>
    <td>destroy</td>
    <td>votes</td>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= post.user.name %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= post.votes.count %></td>
    <% if post.votes.where(:user_id => 1).count == 0 %>
        <td><%= button_to 'vote',:controller => 'votes',:action => 'create',:post_id => post.id %></td>
    <% end %>
    <% if post.votes.count != 0 %>
        <td><%= button_to 'un-vote', Vote.where(:votable_id => post.id).where(:user_id => 1).first,:method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
