<h1>Listing posts</h1>
<table>
  <tr>
    <td>title</td>
    <td>user</td>
    <td>edit</td>
    <td>destroy</td>
    <td>votes</td>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= post.user.name %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= post.votes.count %></td>
    <%= render :partial => "votes/vote",:locals => {:votable => post} %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
