<% count = votable.count_votes(session[:user_id]) %>
<% voters = votable.voters(session[:user_id]) %>
<p><font color = "#5f9ea0" size="1">
  <% if count.sum != 0 %>
    <% if count[0] == 0 %>
      <% if votable.is_a?(Post) %>
          <% if session[:show_voters][:post] == true %>
              <% voters.each do |v| %>
                  <% if v != voters.last %>
                      <%= v.name %>,
                  <% else %>
                      <%= v.name %>
                  <% end %>
              <% end %>
              voted
              <%= link_to "hide",:controller => :posts,:action =>:toggle_voters %>
          <% else %>
              <%= link_to "#{count[1]}",:controller => :posts,:action =>:toggle_voters %> people voted
          <% end %>
      <% elsif votable.is_a?(Comment) %>
          <% if session[:show_voters][:comments].include?(votable.id)%>
            <% voters.each do |v| %>
                <% if v != voters.last %>
                    <%= v.nil? ? 'unknown user' : v.name %>,
                <% else %>
                    <%= v.nil? ? 'unknown user' : v.name %>
                <% end %>
            <% end %>
            voted
            <%= link_to "hide",:controller => :comments,:action =>:toggle_voters,:comment_id => votable.id %>
          <% else %>
             <%= link_to "#{count[1]}",:controller => :comments,:action =>:toggle_voters, :comment_id => votable.id %> people voted
          <% end %>
      <% end %>
    <% elsif count[1] == 0%>
      you voted
    <% else %>
          <% if votable.is_a?(Post) %>
              you and
              <% if session[:show_voters][:post] == true %>
                  <% voters.each do |v| %>
                      <% if v != voters.last %>
                          <%= v.nil? ? 'unknown user' : v.name %>,
                      <% else %>
                          <%= v.nil? ? 'unknown user' : v.name %>
                      <% end %>
                  <% end %>
                  voted
                  <%= link_to "hide",:controller => :posts,:action =>:toggle_voters %>
              <% else %>
                  <%= link_to "#{count[1]}",:controller => :posts,:action => :toggle_voters %> other people voted
              <% end %>
          <% elsif votable.is_a?(Comment) %>
              you and
              <% if session[:show_voters][:comments].include?(votable.id)%>
                  <% voters.each do |v| %>
                      <% if v != voters.last %>
                          <%= v.nil? ? 'unknown user' : v.name %>,
                      <% else %>
                          <%= v.nil? ? 'unknown user' : v.name %>
                      <% end %>
                  <% end %>
                  voted
                  <%= link_to "hide",:controller => :comments,:action =>:toggle_voters,:comment_id => votable.id %>
              <% else %>
                  <%= link_to "#{count[1]}",:controller => :comments,:action =>:toggle_voters, :comment_id => votable.id %> people voted
              <% end %>
          <% end %>
    <% end %>
  <% end %>
</font></p>

<p>
    <% if session[:user_id] %>
        <% if votable.user_id != session[:user_id] %>
            <% if votable.votes.where(:user_id => session[:user_id]).count == 0 %>
                <% if votable.is_a?(Post) %>
                    <%= button_to 'vote',:controller => :votes,:action => :create,:post_id => votable.id %>
                <% end %>
                <% if votable.is_a?(Comment) %>
                    <%= button_to 'vote',:controller => :votes,:action => :create,:comment_id => votable.id %>
                <% end %>
            <% end %>
            <% if votable.votes.where(:user_id => session[:user_id]).count != 0 %>
                <%= button_to 'un-vote', Vote.where(:votable_id => votable.id).where(:user_id => session[:user_id]).first,:method => :delete %>
            <% end %>
        <% end %>
    <% end %>
</p>