<% count = votable.count_vote(session[:user_id]) %>
<% show_voters = false %>
<p>
    <% if count[0] == 0 %>
        <%= count[1] %> people voted
    <% else %>
        you and <%= count[1] %> other people voted
    <% end %>
    <%= link_to 'toggle',:controller => :posts,:action => :toggle_voters %>
</p>

<% if params[:show_voters] %>
    <% if true %>
        <p>
            <% votable.voters.each do |v| %>
                <%= v.name %><br/>
            <% end %>
        </p>
    <% end %>
<% end %>

<p>
    <% if session[:user_id] %>
        <% if votable.user_id != session[:user_id] %>
            <% if votable.votes.where(:user_id => session[:user_id]).count == 0 %>
                <% if votable.is_a?(Post) %>
                    <%= button_to 'vote',:controller => :votes,:action => :create,:post_id => votable.id %>
                <% end %>
                <% if votable.is_a?(Comment) %>
                    <%= button_to 'vote',:controller => :votes,:action => :create,:comment_id => votable.id %>
                <% end %>
            <% end %>
            <% if votable.votes.where(:user_id => session[:user_id]).count != 0 %>
                <%= button_to 'un-vote', Vote.where(:votable_id => votable.id).where(:user_id => session[:user_id]).first,:method => :delete %>
            <% end %>
        <% end %>
    <% end %>
</p>