<!DOCTYPE html>
<html>
<head>
  <title>Backchannel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p id="notice"><%= flash[:notice] %></p>
<p id="error"><%= flash[:error] %></p>
<p id="params"><%= params %></p>
<table>
  <tr>
    <td width="40%" valign="top" bgcolor="#E0F8F7" >
        <% if session[:user_id] %>
            <%= render :partial => 'users/welcome' %>
        <% else %>
            <%= render :partial => 'users/login_form' %>
        <% end %>
    </td>

    <td width="5%"></td>

    <td>
        <%= yield %>
    </td>
  </tr>
</table>
</body>
</html>
