<!DOCTYPE html>
<html>
<head>
  <title>Backchannel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p id="notice"><%= flash[:notice] %></p>
<p id="error"><%= flash[:error] %></p>
<% if session[:user_id] %>
    <%= render :partial => 'users/welcome' %>
<% else %>
    <%= render :partial => 'users/login_form' %>
<% end %>

<hr/>

<%= yield %>

</body>
</html>
